In [2]:
# Import Libraries
import pandas as pd

In [3]:
# Integer to binary function
def binary(num):
    converted = []
    while (num):
        converted.append(1 if num % 2 else 0)
        num //= 2
    converted.reverse()
    return converted

In [4]:
# Binary to integer function
def decimal(b):
    ret = 0
    base = 0
    b.reverse()
    for i in b:
        ret += 2**(base)*i
        base += 1
    return ret

In [5]:
#Appends '0' to begenning of X and Y binary list until they are equal
def length_checker(x,y,z):
    x.reverse()
    y.reverse()
    z.reverse()
    m=max(len(x),len(y),len(z))
    while(len(x)<m):
        x.append(0)
    while(len(y)<m):
        y.append(0)
    while(len(z) < m):
        z.append(0)
    x.append(0)
    y.append(0)
    z.append(0)
    x.reverse()
    y.reverse()
    z.reverse()
    return x,y,z

In [20]:
#Full adder function
def fullAdder(x_int,y_int,z_int):
    X_bin=binary(x_int)
    Y_bin=binary(y_int)
    Z_bin=binary(z_int)
    X_bin, Y_bin, Z_bin = length_checker(X_bin, Y_bin, Z_bin)
    
    sum = []
    carry = []
    #Sum = X xor Y xor Z #Carry = X and Y or Z and (X xor Y)
    for i in range(len(X_bin)):
        sum.append(X_bin[i] ^ Y_bin[i] ^ Z_bin[i])
        carry.append((X_bin[i] and Y_bin[i]) or ((X_bin[i]^Y_bin[i]) and Z_bin[i]))
    
    print(f"Input X : {x_int}")
    print(f"Input Y : {y_int}")
    print(f"Input Z : {z_int}\n")
    data=pd.DataFrame({"X binary":X_bin,"Y binary":Y_bin,"Z binary":Z_bin,"Sum":sum,"Carry":carry})
    data.index.name="S no"
    return data

In [10]:
#X=15 Y=51 Z=85
fullAdder(15,51,85)

Input X : 15
Input Y : 51
Input Z : 85

      X binary  Y binary  Z binary  Sum  Carry
S no
0            0         0         0    0      0
1            0         0         1    1      0
2            0         1         0    1      0
3            0         1         1    0      1
4            1         0         0    1      0
5            1         0         1    0      1
6            1         1         0    0      1
7            1         1         1    1      1

In [18]:
#X=67 Y=54 Z=71
fullAdder(67,54,71)

Input X : 67
Input Y : 54
Input Z : 71

      X binary  Y binary  Z binary  Sum  Carry
S no
0            0         0         0    0      0
1            1         0         1    0      1
2            0         1         0    1      0
3            0         1         0    1      0
4            0         0         0    0      0
5            0         1         1    0      1
6            1         1         1    1      1
7            1         0         1    0      1

In [19]:
#X=79 Y=123 Z=111
fullAdder(79,123,111)

Input X : 79
Input Y : 123
Input Z : 111

      X binary  Y binary  Z binary  Sum  Carry
S no
0            0         0         0    0      0
1            1         1         1    1      1
2            0         1         1    0      1
3            0         1         0    1      0
4            1         1         1    1      1
5            1         0         1    0      1
6            1         1         1    1      1
7            1         1         1    1      1